<video id="fullvid" autoplay="autoplay" loop="loop">
    <source src="/videos/dark_storm_clouds_CLIPCHAMP_480p.mp4" >
</video>

<div class="welcome">
  <h1>Dreamscape</h1>

  <% if current_user %>
    <button><a href="/dreams">Enter the app</a></button>
  <% else %>
    <button><%= link_to "SignUp", new_user_registration_path %></button>
    <button><%= link_to "Login", new_user_session_path %></button>
    <button><a href="/collective">See a demo</a></button>
  <% end %>

  <p>Capture your dreams.<br>Revisit them in all their natural, nonsensical patterns.<br>Sleep. Dream. Repeat.</p>
</div>

<footer>
  <p> Created by Aubrey Northam  |  Powered by weird dreams and a never-ending need to nap  |  <%= link_to "Contact", "https://www.linkedin.com/in/aubreynortham" %></p>
</footer>
