<video id="fullvid" poster="#" src="/dark_storm_clouds_CLIPCHAMP_480p.mp4" type="video/mp4" playsinline autoplay muted>

</video>

<div class="welcome">
  <h1>Dreamscape</h1>
  <button>Sign up / Login</button>
  <button>See a Demo</button>
  <h3>Capture your dreams.<br>Revisit them in all their natural, nonsensical patterns.<br>Sleep. Dream. Repeat.</h3>
</div>
