<nav>
  <a href="/dreams">My Dreamscape</a> |
  <a href="/dreams/new">New Dream</a> |
  <a href="#">Collective</a> |
  <a href="/explore" class="active">Explore</a> |
  <a href="#">Sign Out</a>
</nav>

<div class="wrapper">
</div>
