<nav>
  <a href="/dreams">My Dreamscape</a> |
  <a href="/dreams/new">New Dream</a> |
  <a href="/collective">Collective</a> |
  <a href="/explore" class="active">Explore</a> |
  <a href="/signout">Sign Out</a>
</nav>

<div class="wrapper">
  <h1>Explore</h1>
  <div class="explore_intro">
    <p>Ever wonder why you start dreaming in the new language you're learning? Or if there is a reason your nightmares have recurring scenarios or themes? Maybe you're just hoping to justify your requisite daily nap to your coworkers. Explore the introductory resources collected here to learn more about dreams and their significance.</p>
  </div>
  <div class="explore_links">
    <a class="resource" href="http://www.dreambible.com"><span class="bullet"> • </span> Dream symbol library <span class="bullet"> • </span></a>
    <a class="resource" href="http://dreamstudies.org/2008/08/01/an-evolutionary-theory-of-dreaming"><span class="bullet"> • </span> What is the "Threat Simulation Theory" of dreaming? <span class="bullet"> • </span></a>
    <a class="resource" href="http://www.wikihow.com/Lucid-Dream"><span class="bullet"> • </span> How does lucid dreaming happen? <span class="bullet"> • </span></a>
    <a class="resource" href="http://blog.babbel.com/link-dreaming-and-language-learning/"><span class="bullet"> • </span> The link between language and dreams <span class="bullet"> • </span></a>
    <a class="resource" href="http://www.dreammoods.com/dreaminformation/recallingdreams.htm"><span class="bullet"> • </span> Why record your dreams? <span class="bullet"> • </span></a>
    <a class="resource" href="http://www.cnn.com/2010/HEALTH/04/22/naps.memory.dream.brain/"><span class="bullet"> • </span> The productivity of dreaming <span class="bullet"> • </span></a>
    <a class="resource" href="http://usatoday30.usatoday.com/life/lifestyle/pets/2010-06-29-dogs-cats-dream_n.htm"><span class="bullet"> • </span> What is my pet dreaming about? <span class="bullet"> • </span></a>
    <a class="resource" href="http://www.world-of-lucid-dreaming.com/10-dreams-that-changed-the-course-of-human-history.html"><span class="bullet"> • </span> Famous innovations inspired by dreams <span class="bullet"> • </span></a>
    <a class="resource" href="http://www.thesleepparalysisproject.org/about-sleep-paralysis/"><span class="bullet"> • </span> What sleep paralysis feels like <span class="bullet"> • </span></a>
    <a class="resource" href="https://www.psychologytoday.com/blog/dream-factory/201501/do-certain-foods-really-cause-bad-dreams"><span class="bullet"> • </span> Does diet influence dreams? <span class="bullet"> • </span></a>
    <a class="resource" href="http://facts.randomhistory.com/interesting-facts-about-dreams.html"><span class="bullet"> • </span> 99 Random facts you never wanted to know about dreams <span class="bullet"> • </span></a>

  </div>
</div>
